article.fortnight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.fortnight {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
