article.today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section.today a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
div.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
aside {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
