article.today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
section.today a {
  height: 50svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100px;
}

aside.chart {
  height: 50svh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}
