/*Add the styles for your component here.*/
.loading-indicator {
  text-align: center;
  padding: 40px 0;
}
.loader {
  color: var(--parkleys-bg-header);
  display: inline-block;
  position: relative;
  font-size: 48px;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0 var(--parkleys-bg-header), 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0 var(--parkleys-bg-header),
      20px 0 var(--parkleys-bg-header);
  }
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  padding: 40px 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--parkleys-color-2);
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
