article.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.today {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
